footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: yellow;
    font-size: 3em;
    margin-top: 50px;
}

.imgFoot {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.imgFoot2 {
    width: 275px;
    height: auto;
    border-radius: 5px;
}