input {
    box-shadow: 10px 5px 5px red;
    padding: 10px;
    width: 33vw;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    border: 1px solid black;
}